{
  "extends": ["next/core-web-vitals", "plugin:@next/next/recommended"],
  "rules": {
    "prefer-destructuring": 2,
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": false
      }
    ]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "testing-library"
  ],
  "overrides": [
    // Only uses Testing Library lint rules in test files
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": [
        "plugin:testing-library/react"
      ]
    }
  ]
}
